.building {
  font-size: 2rem;
}

.building__flex {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  width: 60%;
}

.building__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
  border: .1rem solid #CE422B;

}

.grid__item {
  padding: 1rem;
}